@charset "UTF-8";
:root {
  --clr-base: #fff;
  --clr-att: #35B952;
  --clr-att-hover: #79ff97;
  --clr-light: #838D8F;
  --clr-border: #838D8F;
  --min: 320px;
  --max: 1200px;
  --paddingContainer: 15px;
  font-size: 10px;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #2B2A2A;
  font-size: 16px;
  line-height: 1.5;
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: 1.5em;
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email,
.elm-cnt {
  display: inline-block;
  vertical-align: middle;
  color: var(--clr-base);
  position: relative;
  padding: 0 0 0 30px;
  line-height: 24px;
  transition: all ease 0.2s;
}
.link-phone:before,
.link-email:before,
.elm-cnt:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  background: url(../img/icons/phone.svg) center no-repeat;
  background-size: 100% auto;
  top: 12px;
  left: 0;
  margin-top: -8px;
}
.link-phone .elm-ico,
.link-email .elm-ico,
.elm-cnt .elm-ico {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  margin-top: -9px;
}
.link-phone .phone-prefix,
.link-email .phone-prefix,
.elm-cnt .phone-prefix {
  display: inline;
  font-weight: 300;
  color: var(--clr-light);
  transition: color ease 0.2s;
}
.link-phone:hover .phone-prefix,
.link-email:hover .phone-prefix,
.elm-cnt:hover .phone-prefix {
  color: inherit;
}
.elm-cnt:before {
  display: none;
}
.link-email:before {
  background-image: url(../img/icons/email.svg);
}
.link-email .link-title {
  display: inline;
}
.link-email:hover {
  color: var(--clr-base);
}
.link-email:hover .link-title {
  border-bottom: 1px solid;
}
.link-phone,
.link-email {
  white-space: nowrap;
}
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  margin: 1em 0;
  font-size: 1.25em;
  line-height: 1.45454545;
  font-weight: 500;
}
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
h1,
.h1-title {
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.32;
  font-weight: 400;
}
h1.title-main,
.h1-title.title-main,
h1 .title-large,
.h1-title .title-large {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.14285714;
  font-weight: 500;
  display: block;
  margin: 0 0 0.25em 0;
}
h1 .title-large,
.h1-title .title-large {
  font-size: 1.2em;
}
h2,
.h2-title {
  font-size: 24px;
  line-height: 1.33333333;
  margin-bottom: 1em;
  margin-top: 1.33333333em;
}
.h3-title,
h3 {
  font-weight: 500;
  margin: 1.36363636em 0 0.90909091em 0;
}
.title-decor {
  padding-bottom: 0.65em;
  position: relative;
}
.title-decor:before {
  content: "";
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--clr-att);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-center,
.title-center {
  text-align: center;
}
@media (max-width: 1399px) {
  :root {
    font-size: 9.5px;
  }
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
  h1,
  .h1-title {
    font-size: 3.6rem;
  }
  .h3-title,
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
  body {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.footer {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-light);
  font-weight: 300;
  text-align: center;
}
.footer .inner-wrap {
  padding-top: 63px;
  padding-top: 6.3rem;
  padding-bottom: 63px;
  padding-bottom: 6.3rem;
  position: relative;
}
.footer .inner-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: var(--paddingContainer);
  right: var(--paddingContainer);
  height: 1px;
  background-color: var(--clr-border);
}
.footer .logo-wrap {
  margin: 0 auto 30px auto;
  width: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer .menu-wrap {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
}
.footer .menu-wrap a {
  display: block;
  padding: 10px 22px;
  position: relative;
}
.footer p {
  margin-bottom: 10px;
}
.footer a:not(:hover) {
  color: inherit;
}
.footer .ico-arrow-up {
  z-index: 100;
  position: fixed;
  left: var(--paddingContainer);
  bottom: var(--paddingContainer);
  display: none;
  transition: none;
}
.header {
  z-index: 99;
  font-size: 16px;
}
.header .inner-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .logo-wrap {
  width: 134px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .popup-menu-wrap {
  -ms-flex: 1;
      flex: 1;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  body.menu-show {
    overflow: hidden;
  }
  .header .inner-wrap {
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header .popup-menu-wrap {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
  }
  .header .logo-wrap {
    width: 100px;
  }
  .popup-menu-wrap .popup-content-block {
    display: none;
    text-align: center;
    z-index: 2;
    border-radius: 1.2rem;
    background-color: #232222;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .popup-menu-wrap .popup-content-block::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .popup-menu-wrap .menu {
    padding: 24px 0;
    font-size: 20px;
  }
  .popup-menu-wrap .menu a {
    display: block;
    padding: 10px 15px;
    color: #fff;
  }
  .popup-menu-wrap .menu a.active,
  .popup-menu-wrap .menu a:hover {
    color: var(--clr-att-hover);
  }
  .popup-menu-wrap .contacts-inner-wrap {
    padding-bottom: 14px;
  }
  .popup-menu-wrap .cnt-wrap {
    margin-bottom: 10px;
  }
  .popup-menu-wrap .link-phone:before,
  .popup-menu-wrap .link-email:before,
  .popup-menu-wrap .link-phone .button-ico,
  .popup-menu-wrap .link-email .button-ico {
    filter: brightness(0) invert(1);
  }
  .popup-menu-wrap .link-phone .phone-prefix,
  .popup-menu-wrap .link-email .phone-prefix {
    color: inherit;
  }
  .popup-menu-wrap .btn-popup {
    z-index: 10;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer .inner-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    text-align: left;
  }
  .footer .info-wrap {
    width: 28%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    padding-right: 15px;
  }
  .footer .menu-wrap {
    -ms-flex: 1;
        flex: 1;
    padding: 0 80px 0 3\0px;
    margin: 0;
  }
  .footer .menu {
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .menu a {
    padding: 5px 22px;
  }
  .footer .logo-wrap {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer .menu-wrap {
    padding-right: 30px;
    padding-left: 10px;
  }
}
@media (min-width: 1024px) {
  .popup-menu-wrap .popup-content-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .popup-menu-wrap .menu-wrap {
    -ms-flex: 1;
        flex: 1;
  }
  .popup-menu-wrap .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 10px 30px 0 30px;
    -ms-flex-align: center;
        align-items: center;
    font-size: 14px;
    line-height: 400;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
  }
  .popup-menu-wrap .menu a {
    display: block;
    position: relative;
    color: inherit;
    line-height: 18px;
    padding: 10px 5px 20px 5px;
  }
  .popup-menu-wrap .menu a:before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--clr-att);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    opacity: 0;
    transition: opacity ease 0.2s;
  }
  .popup-menu-wrap .menu a:hover,
  .popup-menu-wrap .menu a.active {
    color: inherit;
  }
  .popup-menu-wrap .menu a:hover:before,
  .popup-menu-wrap .menu a.active:before {
    opacity: 1;
  }
  .popup-menu-wrap .contacts-inner-wrap,
  .popup-menu-wrap .contacts-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-align: center;
        align-items: center;
  }
  .popup-menu-wrap .contacts-wrap {
    margin-left: 5.4rem;
  }
  .popup-menu-wrap .contacts-wrap:first-child {
    margin-left: 0;
  }
  .popup-menu-wrap .cnt-wrap {
    margin: 0 0 0 26px;
    font-weight: 500;
  }
  .popup-menu-wrap .cnt-wrap:first-child {
    margin-left: 0;
  }
  .popup-menu-wrap .link-email {
    font-size: 14px;
    font-weight: 400;
  }
  .popup-menu-wrap .btn-popup {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .popup-menu-wrap .contacts-wrap {
    margin-left: 30px;
  }
  .popup-menu-wrap .cnt-wrap {
    margin-left: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .popup-menu-wrap .menu {
    padding-top: 0;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .popup-menu-wrap .menu a {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-icon {
  font-weight: 300;
  color: var(--clr-base);
  display: -ms-flexbox;
  display: flex;
}
.item-tile-icon:hover {
  color: var(--clr-base);
}
.item-tile-icon .tile-info-wrap {
  padding: 6px 0 84px 40px;
  padding: 6px 0 8.4rem 4rem;
  position: relative;
  -ms-flex: 1;
      flex: 1;
  display: block;
}
.item-tile-icon .tile-title {
  margin-top: 0;
}
.item-tile-icon .tile-ico {
  width: 160px;
  width: 16rem;
  height: 160px;
  height: 16rem;
  border-radius: 50%;
  background-color: #3A3A3A;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-icon .tile-ico img,
.item-tile-icon .tile-ico svg {
  max-width: 52.7%;
  max-height: 52.7%;
}
.item-tile-icon .btn {
  position: absolute;
  bottom: 7px;
  bottom: 0.7rem;
  left: 40px;
  left: 4rem;
}
.item-tile-icon p {
  margin: 0;
}
.item-tile-icon .tile-ico {
  width: 120px;
  width: 12rem;
  height: 120px;
  height: 12rem;
}
.item-tile-icon .tile-info-wrap {
  padding-left: 24px;
}
.item-tile-icon .btn {
  left: 24px;
}
.item-tile-new {
  font-weight: 300;
  color: var(--clr-base);
  display: block;
  position: relative;
  line-height: 1.5;
}
.item-tile-new:hover {
  color: var(--clr-base);
}
.item-tile-new:hover .tile-title {
  color: var(--clr-att);
}
.item-tile-new .tile-photo-wrap,
.item-tile-new .tile-info-wrap {
  display: block;
  width: 100%;
}
.item-tile-new .tile-info-wrap {
  padding: 36px 0 0 0;
  padding: 3.6rem 0 0 0;
}
.item-tile-new .tile-sticker {
  position: absolute;
  bottom: 24px;
  bottom: 2.4rem;
  right: 24px;
  right: 2.4rem;
  z-index: 3;
}
.item-tile-new .tile-info {
  font-size: 14px;
  line-height: 17px;
  display: block;
  margin-bottom: 14px;
  color: var(--clr-light);
}
.item-tile-new .tile-title {
  display: block;
  margin: 0 0 20px 0;
  transition: color ease 0.2s;
}
.item-tile-new .tile-title:last-child {
  margin-bottom: 0;
}
.item-tile-new .tile-text {
  display: block;
}
.item-tile-new .tile-photo {
  height: 400px;
  height: 40rem;
  display: block;
  border-radius: 2rem;
}
.item-tile-question {
  font-weight: 300;
}
.item-tile-question .tile-title {
  padding: 40px 40px 39px 0;
  padding: 4rem 40px 3.9rem 0;
  position: relative;
  margin: 0;
  font-weight: 500;
  color: var(--clr-base);
}
.item-tile-question .tile-title.active:before {
  transform: rotate(180deg);
}
.item-tile-question .tile-title:hover {
  color: #fff;
}
.item-tile-question .tile-title:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url(../img/icons/arrow-toggle.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  right: 0;
  margin-top: -15px;
  transition: all ease 0.2s;
}
.item-tile-question .tile-content-block {
  margin-top: -20px;
  margin-top: -2rem;
  padding-bottom: 39px;
  padding-bottom: 3.9rem;
  display: none;
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
  transform: translateZ(0);
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.elm-sticker,
.tile-sticker {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: 34px;
  border-radius: 10px;
  padding: 0 13px;
  font-size: 14px;
  font-weight: bold;
  color: var(--clr-base);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: var(--clr-att);
  line-height: 34px;
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
@media (max-width: 1199px) {
  .item-tile-icon .tile-ico {
    width: 14rem;
    height: 14rem;
  }
  .item-tile-icon .tile-info-wrap {
    padding-left: 24px;
  }
  .item-tile-icon .btn {
    left: 24px;
  }
}
@media (max-width: 1023px) {
  .item-tile-icon {
    display: block;
  }
  .item-tile-icon .tile-ico {
    margin: 0 0 30px 0;
  }
  .item-tile-icon .tile-info-wrap {
    padding: 0;
  }
  .item-tile-icon .btn {
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 4rem;
  }
  .item-tile-new .tile-photo {
    height: auto;
  }
  .item-tile-new .tile-photo:before {
    padding-top: 90%;
    display: block;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.main-slider-box {
  margin-bottom: 90px;
  margin-bottom: 9rem;
}
.main-slider-box .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-top: 4rem;
  padding-bottom: 40px;
  padding-bottom: 4rem;
  -ms-flex-align: center;
      align-items: center;
}
.main-slider-box .title-inner-wrap {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 50px 100px 0;
  min-height: 320px;
  min-height: 32rem;
}
.main-slider-box .photo-inner-wrap {
  width: 45%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main-slider-box .photo-inner-wrap img {
  display: block;
  width: 100%;
}
.main-slider-box .sl-wrap {
  line-height: 1.5;
}
.main-slider-box .slick-dots {
  position: absolute;
  pointer-events: none;
  bottom: 70px;
  bottom: 7rem;
  left: var(--paddingContainer);
  right: auto;
  width: 50%;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.main-slider-box .slick-dots li {
  margin: 0 16px 0 0;
  margin: 0 1.6rem 0 0;
  pointer-events: initial;
}
.main-slider-box .slick-dots li button {
  width: 16px;
  width: 1.6rem;
  height: 16px;
  height: 1.6rem;
  border-radius: 0.8rem;
}
.main-slider-box .slick-dots li.slick-active button {
  width: 50px;
  width: 5rem;
}
.main-slider-box .h1-title {
  display: block;
  margin: 0;
  font-size: 40px;
  font-size: 4rem;
}
.main-slider-box .h1-title .title-large {
  display: block;
  margin: 0 0 0.2em 0;
}
.tiles-box {
  margin-bottom: 140px;
  margin-bottom: 14rem;
}
.tiles-box .items-wrap {
  margin: 0 -50px -70px -50px;
  margin: 0 -5rem -7rem -5rem;
}
.tiles-box .item-wrap {
  padding: 0 50px;
  padding: 0 5rem;
  margin-bottom: 70px;
  margin-bottom: 7rem;
  width: 50%;
}
.about-box {
  margin-bottom: 140px;
  margin-bottom: 14rem;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  min-height: 70rem;
  position: relative;
  padding: 62px 0 40px 0;
  padding: 6.2rem 0 4rem 0;
  text-align: center;
}
.about-box .info-inner-wrap {
  display: block;
  position: relative;
  z-index: 2;
}
.about-box .photo-inner-wrap {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
}
.about-box .photo-inner-wrap img {
  display: block;
  width: auto;
  max-width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.about-box .h1-title {
  margin-bottom: 80px;
  margin-bottom: 8rem;
}
.about-box p {
  margin: 0;
}
.news-slider-box {
  margin-bottom: 90px;
  margin-bottom: 9rem;
}
.news-slider-box .slider-wrap {
  margin: 0 -10px;
}
.news-slider-box .sl-wrap {
  padding: 0 10px;
}
.news-slider-box .ico-arrow {
  position: absolute;
  top: 200px;
  top: 20rem;
  left: 26px;
  left: 2.6rem;
  margin: -35px 0 0 -35px;
  margin: -3.5rem 0 0 -3.5rem;
}
.news-slider-box .ico-arrow-next {
  left: auto;
  right: 26px;
  right: 2.6rem;
  margin: -35px -35px 0 0;
  margin: -3.5rem -3.5rem 0 0;
}
.news-slider-box .slick-list {
  overflow: visible;
}
.news-slider-box .slick-dots {
  padding-top: 50px;
}
.questions-box {
  margin-bottom: 90px;
  margin-bottom: 9rem;
}
.questions-box .items-wrap {
  margin: 0 -50px;
  margin: 0 -5rem;
}
.questions-box .item-wrap {
  break-inside: avoid-column;
  width: 50%;
  padding: 0 50px;
  padding: 0 5rem;
  margin: 0;
}
.questions-box .item-tile-question {
  border-bottom: 1px solid var(--clr-border);
}
.questions-box .title-box {
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
.title-box {
  text-align: center;
  margin-bottom: 80px;
  margin-bottom: 8rem;
}
.title-box .h1-title {
  margin: 0 0 0.5em 0;
}
.title-box .h1-title:last-child {
  margin-bottom: 0;
}
.contacts-box {
  position: relative;
  overflow: hidden;
  padding: 70px 64px;
  padding: 7rem 6.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.contacts-box .map-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.contacts-box .map-wrap > yamap,
.contacts-box .map-wrap > ymap,
.contacts-box .map-wrap > iframe,
.contacts-box .map-wrap > object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contacts-box .contacts-wrap {
  width: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  background: rgba(43, 42, 42, 0.86);
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px 30px 24px 34px;
  display: block;
  position: relative;
  z-index: 3;
}
.contacts-box .cnt-wrap {
  display: block;
  margin: 0 -18px 0 0;
}
.contacts-box .elm-cnt,
.contacts-box .link-phone,
.contacts-box .link-email {
  margin: 0 18px 14px 0;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}
.contacts-box .cnt-title {
  margin: 0 0 24px 0;
}
.form-box {
  background: #232222;
  border-radius: 0px 0px 20px 20px;
  display: block;
  position: relative;
  margin-bottom: 100px;
  margin-bottom: 10rem;
  padding: 57px 60px 83px 60px;
  padding: 5.7rem 6rem 8.3rem 6rem;
}
.form-box .frm-wrap {
  max-width: 1014px;
  margin: 0 auto;
}
.form-box .frm-row {
  margin: 0 -9px;
  margin: 0 -0.9rem;
}
.form-box .frm-field {
  padding: 0 9px;
  padding: 0 0.9rem;
  margin: 0 0 18px 0;
  margin: 0 0 1.8rem 0;
  width: 100%;
}
.form-box .frm-title-wrap {
  text-align: center;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}
.form-box .frm-row-submit .frm-field {
  margin: 0;
}
.form-box .frm-row-submit .btn {
  width: 100%;
}
.form-box .frm-title {
  margin: 0;
}
.form-box .field-third {
  width: 33.33%;
}
.form-box .field-cpt {
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.form-box .field-check {
  -ms-flex: 1;
      flex: 1;
  width: auto;
  padding-left: 21px;
  padding-left: 2.1rem;
  min-height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 1199px) {
  .main-slider-box .h1-title {
    font-size: 4rem;
  }
  .tiles-box .item-wrap {
    padding: 0 15px;
  }
  .tiles-box .items-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }
  .news-slider-box .slider-wrap {
    margin: 0 -10px;
  }
  .news-slider-box .sl-wrap {
    padding: 0 10px;
  }
  .news-slider-box .ico-arrow-prev {
    left: 20px;
  }
  .news-slider-box .ico-arrow-next {
    right: 20px;
  }
  .news-slider-box .slick-list {
    overflow: hidden;
  }
}
@media (max-width: 1023px) {
  .main-slider-box .inner-wrap {
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tiles-box .item-wrap {
    padding: 0 10px;
  }
  .tiles-box .items-wrap {
    margin-left: -10px;
    margin-right: -10px;
  }
  .questions-box .items-wrap {
    margin: 0 -2rem;
  }
  .questions-box .item-wrap {
    padding: 0 2rem;
  }
  .contacts-box {
    padding: 300px 15px 15px 15px;
  }
}
@media (max-width: 767px) {
  .questions-box .items-wrap {
    margin: 0;
  }
  .questions-box .item-wrap {
    width: 100%;
    padding: 0;
  }
  .contacts-box .contacts-wrap {
    padding: 20px;
  }
  .form-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 639px) {
  .main-slider-box .slick-dots {
    -ms-flex-pack: center;
        justify-content: center;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 1.6rem;
  }
  .main-slider-box .inner-wrap {
    display: block;
  }
  .main-slider-box .title-inner-wrap {
    padding: 0;
    min-height: 0;
    width: 100%;
    margin-bottom: 5rem;
  }
  .main-slider-box .photo-inner-wrap {
    width: 100%;
  }
  .main-slider-box .h1-title {
    font-size: 3rem;
    text-align: center;
  }
  .form-box .frm-field {
    width: 100%;
  }
  .form-box .field-check {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (max-width: 479px) {
  .tiles-box .item-wrap {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main-slider-box .slick-dots {
    left: 50%;
    margin-left: -600px;
    padding-left: var(--paddingContainer);
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input {
  height: 60px;
  height: 6rem;
  padding: 0 10px 0 20px;
  padding: 0 10px 0 2rem;
  font-size: 16px;
  color: var(--clr-base);
  background-color: #2B2A2A;
  border: 1px solid #2B2A2A;
  border-radius: 1.2rem;
  font-weight: 500;
  min-height: 50px;
}
textarea.form-input {
  height: 100px;
  padding-top: 18px;
}
select.form-input {
  display: block;
  width: 100%;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 20px center;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  text-overflow: '';
  outline: none;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
[placeholder]::-webkit-input-placeholder {
  color: var(--clr-light);
  font-weight: 400;
}
[placeholder]:-moz-placeholder {
  color: var(--clr-light);
  font-weight: 400;
}
[placeholder]::-moz-placeholder {
  color: var(--clr-light);
  font-weight: 400;
}
[placeholder]:-ms-input-placeholder {
  color: var(--clr-light);
  font-weight: 400;
}
.btn {
  height: 60px;
  height: 6rem;
  border-radius: 1.2rem;
  border: 1px solid var(--clr-att);
  background-color: var(--clr-att);
  padding: 0 30px;
  padding: 0 3rem;
  font-weight: 500;
  font-size: 16px;
  color: var(--clr-base);
  min-height: 50px;
}
.btn:hover {
  background-color: var(--clr-att-hover);
  border-color: var(--clr-att-hover);
  color: #2B2A2A;
}
.btn:hover .button-ico {
  filter: none;
}
.btn.button-border:not(:hover) {
  background-color: transparent;
  color: var(--clr-base);
}
.btn.button-border:hover,
.btn.button-border.active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.btn.button-border:hover .button-ico,
.btn.button-border.active .button-ico {
  filter: none;
}
.btn .button-ico {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  transition: all ease 0.2s;
  filter: brightness(0) invert(1);
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn.button-small {
  height: 44px;
  min-height: 44px;
  padding: 0 14px;
}
.btn.button-small .button-ico {
  width: 18px;
  height: 18px;
  margin: 0 8px;
}
.btn.button-small .button-ico:first-child {
  margin-left: 0;
}
.btn.button-small .button-ico:last-child {
  margin-right: 0;
}
.btn.button-light:not(:hover) {
  background-color: var(--clr-base);
  border-color: var(--clr-base);
  color: #2B2A2A;
}
.btn.button-light:not(:hover) .button-ico {
  filter: none;
}
.btn.button-light.button-border:not(:hover) {
  color: var(--clr-base);
  background-color: transparent;
}
.btn.button-light.button-border:not(:hover) .button-ico {
  filter: brightness(0) invert(1);
}
.btn.button-light.button-border:hover {
  background-color: var(--clr-base);
  border-color: var(--clr-base);
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
  background: rgba(58, 58, 58, 0.7);
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
  border-radius: 1.6rem;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.svg);
  background-size: 3rem auto;
}
.btn-action-ico.ico-arrow:hover {
  background: rgba(58, 58, 58, 0.95);
}
.btn-action-ico.ico-arrow-up:before {
  transform: rotate(90deg);
}
.btn-action-ico.ico-arrow-next:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 24px;
  height: 18px;
  border-top: 2px solid var(--clr-base);
  border-bottom: 2px solid var(--clr-base);
  margin: -9px 0 0 -12px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 2px;
  margin-top: -1px;
  border-top: none;
}
.btn-action-ico.ico-menu.active:after {
  height: 2px;
  margin-top: -1px;
  border-top: none;
  transform: rotate(-45deg);
}
.btn-action-ico.ico-menu.active:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select input:checked ~ label:before {
  background-color: var(--clr-att);
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 0 0 37px;
  line-height: 1.5;
  color: var(--clr-light);
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0.75em;
  left: 10px;
  margin: -10px 0 0 -10px;
  border: 2px solid var(--clr-att);
  border-radius: 3px;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/chk.svg) center no-repeat;
  background-size: 18px auto;
  opacity: 0;
}
.frm-select a:not(:hover) {
  color: inherit;
}
.frm-field-cpt {
  display: block;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 217px;
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  display: none;
  animation: fadein ease 0.2s;
}
.js-tab-block.active {
  display: block;
}
.items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.items-wrap.show-all .item-wrap.wrap-hidden {
  display: block;
}
.items-wrap.show-all .wrap-more a:after {
  content: attr(data-hide);
}
.item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.item-wrap.wrap-more ~ .item-wrap {
  display: none;
}
.item-wrap.wrap-more.active {
  display: none;
}
.item-wrap.wrap-more.active ~ .item-wrap {
  display: block;
}
.item-wrap.wrap-more a:after {
  content: attr(data-show);
}
.item-wrap.wrap-hidden {
  display: none;
  animation: fadein ease 0.2s;
}
.slider-wrap,
.slider,
.sl-wrap {
  position: relative;
  line-height: 1;
  display: block;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
  text-align: center;
  font-size: 0;
  margin: 0;
}
.slick-dots li {
  margin: 0 5px 5px 0;
  padding: 0;
  display: block;
}
.slick-dots li:before {
  display: none;
}
.slick-dots li button {
  background: none;
  border: none;
  min-width: 0;
  padding: 0;
  box-shadow: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #838D8F;
}
.slick-dots li button:hover,
.slick-dots li button.active {
  background: var(--clr-att);
}
.slick-dots .slick-active button {
  background: var(--clr-att);
}
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.tile-photo {
  transform: translateZ(0);
}
.tile-photo img {
  transition: all ease 0.2s;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
  .slick-dots li button:hover,
  .slick-dots li button.active {
    background-color: #c4c4c4;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
