
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="#section01" class="js-anchor-button">Услуги</a></li>
						<li><a href="#section02" class="js-anchor-button">О нас</a></li>
						<li><a href="#section03" class="js-anchor-button">Новости и акции</a></li>
						<li><a href="#section04" class="js-anchor-button">Частые вопросы</a></li>
						<li><a href="#section05" class="js-anchor-button">Контакты</a></li>
					</ul>
				</div>
				<div class="contacts-inner-wrap">
					<div class="contacts-wrap">
						<div class="cnt-wrap">
							<a href="tel:88512262666" class="link-phone"><span class="phone-prefix">(8512)</span> 26-26-66</a>
						</div>
						<div class="cnt-wrap">
							<a href="tel:88512521999" class="link-phone"><span class="phone-prefix">(8512)</span> 52-19-99</a>
						</div>
					</div>
					<div class="contacts-wrap">
						<div class="cnt-wrap">
							<a href="mailto:info@ooo-ask.ru" class="link-email"><span class="link-title">info@ooo-ask.ru</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->